{{ define "main"}}

{{ if eq .Section "blog" }}
<p>
  In this section you will find a set of long-form posts. They are a selection of posts
  that have already been published on my newsletter. Anything you want me to write
  about here? Feel free to contact me.
</p>
{{ else if eq .Section "til" }}
<p>This is the TIL (Today I Learned) section of my website. Here you'll find short posts about things I learned today.
  Think of it as my personal journal
</p>
{{ end }}

<div id="archive">
  <ul class="post-list">
    {{ range (sort .Paginator.Pages "Date" "desc") }}
    {{ $pageYear := (.Date.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <h2>{{ $pageYear }}</h2>
    {{ end }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormat | default
          "2006-01-02") }}</time>
      </div>
      <span>
        <a class="" href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{ else }} Untitled {{ end }}</a>
      </span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</div>
{{ end }}