{{ define "main"}}

{{ if eq .Section "blog" }}
<p>
  In this section you will find a set of long-form posts. They are a selection of posts
  that have already been published on my newsletter. Anything you want me to write
  about here? Feel free to contact me.
</p>
{{ else if eq .Section "til" }}
<h1>TIL (Today I learned)</h1>
<p>This is the TIL <i>(Today I Learned)</i> section of my website. Here you'll find short and raw posts about things I
  learned
  a day I once called <i>"today"</i>.
  Think of it as a personal journal.
</p>
{{ else if eq .Section "blunders" }}
<h1>Blunders Bin</h1>
<p> A collection of blunders and mistakes made throughout my professional life. This is a good way to remind myself and share them publicly in case it helps someone else.
</p>
{{ end }}

<div id="archive">
  <ul class="post-list">
    {{ range (sort .Paginator.Pages "Date" "desc") }}
    {{ $pageYear := (.Date.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <h2>{{ $pageYear }}</h2>
    {{ end }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormat | default
          "2006-01-02") }}</time>
      </div>
      <span>
        <a class="" href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{ else }} Untitled {{ end }}</a>
      </span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</div>
{{ end }}
